<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777201627988-k1ra0jjp4ut7ub6ocj73uvbjrcf1r6h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777201627988-k1ra0jjp4ut7ub6ocj73uvbjrcf1r6h1</string>
	<key>API_KEY</key>
	<string>AIzaSyAVF9vLLf0iphBAfFUNEGtKPXziXVDbSko</string>
	<key>GCM_SENDER_ID</key>
	<string>777201627988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattt.Carrot</string>
	<key>PROJECT_ID</key>
	<string>carrot-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:777201627988:ios:d80d3d369d168789a30ec1</string>
	<key>DATABASE_URL</key>
	<string>https://carrot-ios.firebaseio.com</string>
</dict>
</plist>
